extend layout

block content
    h1 #{user.username}
    h3 #{user.email}
    if user.questions
        .questions
            each question in questions
                a.link(href=`/question/${question.slug}`)
                    .question 
                        h1.name #{question.question}
                        h5.author-username #{question.author.username}