extends layout

block content
    h2.form-title1
      div
        a.link-1(href=`/question/${question.slug}`) #{question.question}
      div
        a.author-username1(href=`/question/${question.slug}`) #{question.author.username}
      h2.visits This question has #{question.visits} visits
    .answers
      if answers
        each answer in answers
            .single-answer 
                .author #{answer.author.username} 
                .answer #{answer.answer}
    .answer-form
      if user
        .create-answer
          form(method="post", action=`/create-answer/${question._id}`)
            h2 Write an answer
            textarea.textarea(name="answer" placeholder="Write your answer here" required maxlength="500")
            button.button(type="submit") Submit
      else
        .login-answer You must login in order to provide an answer